<div id="phonebook_container" class="clearfix container-menu">
	<div class="left-menu">
		<div class="category-group">
			<div id="phonebook" class="category">
				<div class="title">
					<i class="fa fa-book"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.phonebook }}</span>
				</div>
			</div>
			<div id="smtpLogs" class="category">
				<div class="title">
					<i class="fa fa-list"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.speeddial }}</span>
				</div>
			</div>
			<div id="blacklist" class="category">
				<div class="title">
					<i class="fa fa-user-secret"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.blacklist }}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="right-content clearfix">

	</div>
</div>
